/** @format */
@import "../../assets/styles/variables";

@mixin flex-with-align-center {
  display: flex;
  align-items: center;
}

@mixin trunc-string-on-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order__container {
  height: 424px;
  box-shadow: 0 0 30px $order-container-box-shadow;
  padding: 24px 24px 32px 24px;
  margin-top: 74px;
  position: sticky;
  top: 74px;
  background-color: #ffffff;
  border-radius: 24px;

  &__promotion {
    width: 332px;
    height: 60px;
    border: 1px solid $promotion-border-color-default;
    padding: 10px 10px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;

    &__input {
      outline: none;
      border: none;
    }
  }
}

.order__details {
  // background-color: aqua;
  margin-bottom: 35px;

  &__detail {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .text-details {
      color: $prev-price-color;
    }

    .price-details {
      color: $price-color-black;
      font-weight: 500;
    }

    .discount {
      color: $btn-color-pink;
    }

    &:last-child .price-details {
      font-size: 20px;
    }
  }
}

.price-details {
  @include flex-with-align-center;
  gap: 5px;
}
