/** @format */
@import "../../assets/styles/variables";

%btn-base {
  font-size: 14px;
  border: none;
  letter-spacing: 0.09px;
  transition: all 0.4s;
  height: 40px;
}

%btn-base:hover {
  cursor: pointer;
}

.btn-pink {
  @extend %btn-base;
  width: 178px;
  background-color: $btn-color-pink;
  color: $color-white;
  margin: auto 0 auto auto;
  border-radius: 16px;
}

.btn-pink:hover {
  background-color: $btn-color-pink;
  opacity: 0.8;
}

.btn-categories {
  @extend %btn-base;
  width: 100%;
  border-radius: 0 16px 16px 0;
  border: 1px solid $btn-categories-hover-color;
  background-color: $color-white;
  color: $category-btn-text-color;
  padding-right: 25px;
  // background-image: url(../../assets/images/icons/Icon-arrow-ios-right.svg);
  // background-repeat: no-repeat;
  // background-position: 95% 50%;
  border-left: none;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    margin-left: 10px;
    margin-top: -2px;
    background: url(../../assets/images/icons/Icon-arrow-ios-right.svg) 0 0
      no-repeat;
    transition: all 0.4s;
  }

  &::before {
    content: "";
    width: 1px;
    height: 70%;
    background-color: $color-black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s;
  }

  &:hover {
    background-color: inherit;
  }

  &:focus {
    background-color: $color-white;
    color: $color-white;
    // border: none;
    border-left: 2px solid $btn-categories-hover-color;
  }

  &:hover::before {
    height: 100%;
    background-color: $btn-categories-hover-color;
  }

  &:focus::before {
    display: none;
  }

  &:focus::after {
    transform: rotate(180deg);
    backface-visibility: hidden;
  }
}

.btn-promotion {
  @extend %btn-base;
  width: 115px;
  height: 40px;
  background-color: $btn-promotion-color;
  color: $color-white;
  padding: 12px 18px;
  border-radius: 12px;
}
