/** @format */

.main__content {
  width: 100%;
  // background-color: aquamarine;
  padding: 0;
  margin: 0;
  position: relative; // for sticky order component

  &__container {
    width: 1188px;
    margin: 0 auto;
    // background-color: aqua;
    display: grid;
    grid-template-columns: 775px 380px;
    justify-content: space-between;

    &__left {
      height: auto;
    }

    &__right {
      height: auto;
      // background-color: chocolate;
      right: 0;
    }
  }
}
