/** @format */

// COLORS

$color-white: #ffffff;
$color-black: #000000;
$color-primary: #ffbc00;
$color-secondary: #30343f;
$color-tertiary: #e1e1e1;

$price-color-black: #1c1c1c;
$prev-price-color: #707070;

$box-shadow-color: #0000001a;

$promotion-border-color-default: #e6e6e6;
$order-container-box-shadow: #0000000d;

$btn-color-pink: #ff5c9e;
$btn-promotion-color: #2f56f1;
$btn-categories-hover-color: #e1e1e1;
$category-btn-text-color: #1c1c1c;
$btn-remove-color: rgb(81, 60, 99, 0.5);

$navigation-item-text-color-on-hover: #1c1c1c;
$navigation-item-background-color-on-hover: #f8f8f8;
